@media only screen and (min-width: 680px)
{
  .top-nav ul li{
    display: inline-block;
  }
  body{
    background-color: green;
  }
}
.item3, .item4{
  display: inline-block;
  width: 45%;
  margin: 0 2%;
}

.photo-grid{
  display: grid;
  grid-template-columns: auto auto;
}

.item1, .item2{
  grid-column-start: 1;
  grid-column-end: 3;
}

/* vertically center text by setting line height same as parent. 40px */
