* {
  margin: 0px;
}

@media only screen and (min-width:650px) and (max-width:1000px){
  /* NAVIGATION */
  /* center the navigation options */
  .top-nav ul {
    text-align: center;
  }

  /* MAIN CONTENT */
  /* change display & the top border */
  .top-nav ul li {
    display: inline-block;
    border-top: 1.5px solid red;
  }

  /* use grid to fix the layout */
  .photo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .photo-cell {
    grid-column: 1 / span 2;
    padding: 0px;
  }

  .yellow {
    grid-column: 1 / 2;
  }

  .navy {
    grid-column: 2 / 2;
  }
}

@media only screen and (min-width:1000px){
  /* NAVIGATION */
  .top-nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
  }

  .top-nav ul li {
    display: inline-block;
    border-top: none;
  }
  /* MAIN CONTENT */
  /* use grid to fix the layout */
  .photo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .photo-cell {
    grid-column: span 2;
    padding: 0px;
  }

  .yellow {
    grid-column: 1 / 2;
  }

  .navy {
    grid-column: 2 / 2;
  }
}
